html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-screen-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.follow-button {
  position: absolute;
  bottom: 30px;
  right: 10px;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.follow-button:hover {
  background-color: #0056b3;
}
